*{margin: 0;padding: 0;border: 0;font-weight: normal;list-style: none;background-color: #fff;text-decoration: none;resize: none;outline: none;}
input::-ms-clear, input::-ms-reveal{display: none;}
html,body{width: 100%;}
