*{margin: 0;padding: 0;border: 0;font-weight: normal;list-style: none;background-color: #fff;text-decoration: none;resize: none;outline: none;}
::-ms-clear,::-ms-reveal{display: none;}::-webkit-search-cancel-button{display: none;}
html,body{width: 100%;}
/*
*{
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
让input输入开头有边距
input{text-indent: 6px;}
*/
