        *{
            margin: 0;
            padding: 0;
            font-weight: normal;
            list-style: none;
            border-style: none;
            text-decoration: none;
            resize: none;
        }
