#nav_left>a,#nav_right>a{height: 100%;background-color: rgba(0,0,0,0);}
#nav_left>a:link,#nav_right>a:link{color:#000;}
#nav_left>a:visited,#nav_right>a:visited{color:#000;}
#nav_left>a:hover,#nav_right>a:hover{color: #007fff;background-color: rgba(255,255,255,0.3)}
#nav_left>a:active,#nav_right>a:active{color:#007fff;}
